name: Compile Library

on:
    workflow_dispatch:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

env:
    CARGO_TERM_COLOR: always

jobs:
    build-windows:
        runs-on: windows-latest
        permissions:
            contents: read

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Build
              run: cargo build --verbose

            - name: Upload artifact
              uses: actions/upload-artifact@v6
              with:
                  name: windows-binary
                  path: target/debug/rod.dll

    build-linux:
        runs-on: ubuntu-latest
        permissions:
            contents: read

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dependencies
              run: |
                  sudo apt-get update
                  sudo apt-get install -y xdotool libgtk-3-dev

            - name: Build
              run: cargo build --verbose

            - name: Upload artifact
              uses: actions/upload-artifact@v6
              with:
                  name: linux-binary
                  path: target/debug/librod.so
